@import url('hhtps://fonts.googleapis.com/css?family=Montserrat:500');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, p {
  font-family: "Montserrat", sans-serif;
}


li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

body {
  background-color: white;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252A;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.header-title {
  margin-right: auto;
  display: inline-block;
}

.header-name a {
  font-size: 30px;
  font-weight: bold;
}

.header-positionTitle a {
  color: grey;
  margin-left: 23px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 126, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 126, 169, 0.8);
}

.Card {
  position: absolute;
  background-color: #F4ECE6;
  width: 375px;
  height: 532px;
  left: 25%;
  top: 25%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.WelcomeCard {
  position: absolute;
  width: 450px;
  height: 532px;
  left: calc(25% + 375px);
  top: 25%;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

.WelcomeCard-hello h1 {
  font-size: 110px;
  margin-left: 50px;
  margin-top: 50px;
}

.WelcomeCard-Resume {
  position: absolute;
  margin-left: 50px;
  margin-top: 80px;
}

.WelcomeCard-Resume button {
  width: 130px;
}

.WelcomeCard-Projects button {
  width: 130px;
  background-color: white;
  border-color: black;
  color: black;
  border: solid 2px;
  height: 38px;
}

.WelcomeCard-Projects button:hover {
  background-color: rgba(0, 126, 169, 1);
  color: white;
}

p {
  font-size: 18px;
}

.WelcomeCard-Projects {
  position: absolute;
  margin-left: 220px;
  margin-top: 80px;
}

.WelcomeCard-p1 {
  position: absolute;
  margin-left: 50px;
  margin-top: 200px;
}

.WelcomeCard-p2 {
  position: absolute;
  margin-left: 50px;
  margin-top: 280px;
}

.Card-profile {
  position: absolute;
  margin-left: 85px;
  margin-top: 50px;
  width: 205px;
  border-radius: 100px;
  box-shadow: 0 0 50px #ccc;
}

.Card-first a, .Card-second a {
  background-color: #F4ECE6;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.Card-first a {
  position: absolute;
  margin-top: 290px;
  margin-left: 162px;

}

.Card-second a {
  position: absolute;
  margin-top: 325px;
  margin-left: 137px;
}

.Card-title a{
  position: absolute;
  background-color: #F4ECE6;
  color: black;
  font-size: 30px;
  margin-top: 405px;
  margin-left: 34.5px;
  letter-spacing: 3.5px;
}

.Card-lineBreak {
  background-color: blue;
  width: 50px;
  height: 2px;
  position: absolute;
  margin-top: 380px;
  margin-left: 162.5px;
}


.Card-footer {
  position: absolute;
  width: 375px;
  background-color: white;
  height: 60px;
  margin-top: 472px;
}

.Card-footer-github {
  position: absolute;
  margin-top: 17.5px;
  margin-left: 290px;
}

.Card-footer-linkedIn {
  position: absolute;
  margin-top: 17.5px;
  margin-left: 330px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  padding: 1rem;
  background-color: #F4ECE6;;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.footer-email {
  position: absolute;
  left: 85%;
  top: 21px;
  width: 160px;
}

.footer-follow {
  position: absolute;
  left: 74%;
  top: 21px;
  width: 160px;
}

.footer a {
  color: black;
}

.footer-emailHeading a, .footer-followHeading a {
  font-weight: bold;
}

.footer-github, .footer-linkedIn {
  width: 19px;
}

.footer-github {
  position: absolute;
  left: 35%;
}

.footer-linkedIn {
  position: absolute;
  left: 50%;
}

.footer-emailText a {
  color: grey;
}

.Resume-title {
  text-align: center;
  margin-top: 130px;
}

.Resume-title li {
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.Resume-Experience {

}

.Resume-Experience h1 {
  position: absolute;
  top: 380px;
  left: calc(50% - 360px);
  font-size: 32px;
  font-weight: bold;
}

.Resume-Experience-body {
  position: absolute;
  top: 450px;
  left: calc(50% - 360px);
  width: 720px;
  height: 700px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #F4ECE6;
}

.bottom {
  position: absolute;
  top: 2200px;
  height: 200px;
  width: 100%;
}

.Resume-Experience-body-duration {
  position: absolute;
  top: -320px;
  left: 400px;
}

.Resume-Experience-body-duration h1, .Resume-Education-body-Uni-duration h1 {
  color: #007EA9;
  font-size: 26px;
  font-weight: bold;
}

.Resume-Experience-body-position {
  position: absolute;
  top: 100px;
  left: 40px;
}

.Resume-Experience-body-position p, .Resume-Education-body-Uni p {
  font-size: 16px;
  font-weight: bold;
}

.Resume-Experience-body-employee {
  position: absolute;
  top: 130px;
  left: 40px;
}

.Resume-Experience-body-employee p {
  font-size: 16px;
}

.Resume-Experience-body-location {
  position: absolute;
  top: 160px;
  left: 40px;
}

.Resume-Experience-body-location p {
  font-size: 16px;
}

.Resume-Experience-body-list, .Resume-Education-uni-list {
  max-width: 450px;
  position: absolute;
  top: 100px;
  left: 260px;
}

.Resume-Experience-body-list p, .Resume-Experience-body-list-ST p, .Resume-Education-uni-list p {
  color: black;
  margin: 10px 0px;
}

.Resume-Experience-body-IM {
  left: 260px;
  position: absolute;
  top: 65px;
}

.Resume-Experience-body-IM p, .Resume-Experience-body-ST p, .Resume-Education-body-Uni-relTitle p {
  font-size: 20px;
  font-weight: bold;
}

.Resume-Experience-body-ST {
  left: 260px;
  position: absolute;
  top: 420px;
}

.Resume-Experience-body-list-ST {
  max-width: 440px;
  position: absolute;
  top: 450px;
  left: 260px;
}

.Resume-Education h1 {
  position: absolute;
  top: 1250px;
  left: calc(50% - 360px);
  font-size: 32px;
  font-weight: bold;
}

.Resume-Education-body {
  position: absolute;
  top: 1320px;
  left: calc(50% - 360px);
  width: 720px;
  height: 350px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #F4ECE6;
}

.Resume-Education-body-Uni-duration {
  position: absolute;
  top: -1190px;
  left: 400px;
}

.Resume-Education-body-Uni-duration h1 {
  font-size: 26px;
}

.Resume-Education-body-Uni {
  position: absolute;
  top: 100px;
  left: 40px;
}

.Resume-Education-body-degree p {
  font-size: 16px;
  margin-top: 10px;
}

.Resume-Education-body-degree {
  position: absolute;
  top: 122px;
  left: 40px;
}

.Resume-Education-body-Uni-relTitle {
  left: 310px;
  position: absolute;
  top: 65px;
}

.Resume-Education-uni-list {
  max-width: 400px;
  position: absolute;
  top: 100px;
  left: 300px;
}

.Resume-Skills h1 {
  position: absolute;
  top: 1780px;
  left: calc(50% - 360px);
  font-size: 32px;
  font-weight: bold;
}

.Resume-Skills-body {
  position: absolute;
  top: 1850px;
  left: calc(50% - 360px);
  width: 720px;
  height: 350px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #F4ECE6;
}

.Resume-Skills-body-lang {
  position: absolute;
  top: 50px;
  left: 60px;
}

.Resume-Skills-body-lang p, .Resume-Skills-body-tech p {
  font-size: 20px;
  font-weight: bold;
}

.Resume-Skills-body-lang-list p, .Resume-Skills-body-tch-list p{
  color: black;
  margin-top: 10px;
}

.Resume-Skills-body-lang-list {
  position: absolute;
  top: 90px;
  left: 60px;
}

.Resume-Skills-body-tech {
  position: absolute;
  top: 50px;
  left: 360px;
}

.Resume-Skills-body-tch-list {
  position: absolute;
  top: 90px;
  left: 360px;
}
